*{
	margin: 0px;
	padding: 0px;
}
#content li{
	height: 92px;
	padding: 5px 0px 5px 10px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: grey;
}
#content img{
    width: 120px;
}
#content .desc{
	width: 270px;
	text-overflow: ellipsis;
	padding-left: 5px;
}
#content img,.desc{
	float: left;
}
#content .desc h3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 25px;    
	max-height: 25px;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-bottom: 45px;

}